*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0; }

::selection {
  background-color: #0e0e0e;
  color: #f0f0f0; }

body {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #0e0e0e; }

h2 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase; }

p {
  font-size: 1.6rem; }

.header {
  height: 100vh;
  width: 100%;
  background-color: #0e0e0e;
  color: #f0f0f0; }
  .header__logo-box {
    align-self: center;
    text-align: center; }
  .header__logo {
    height: 10rem; }
  .header__button {
    margin: 4rem 0;
    padding: 1rem 4rem;
    border: 2px solid #f0f0f0;
    align-self: flex-end; }
  .header__column {
    height: calc(100vh / 3);
    display: flex;
    justify-content: center; }

.section-mazes {
  padding: 2rem 0; }
  .section-mazes__list {
    overflow: auto;
    white-space: nowrap; }
  .section-mazes__card {
    display: inline-block;
    height: 500px;
    width: 300px;
    padding: 1rem;
    border: 2px solid #0e0e0e;
    margin-left: 2rem; }
    .section-mazes__card:last-child {
      margin-right: 2rem; }

.section-faq {
  padding: 2rem;
  background-color: #0e0e0e; }
