.btn {
	&,
	&:link,
	&:visited {
		text-decoration: none;
		padding: 0.5rem 3rem;
		display: inline-block;
		position: relative;
		font-size: $default-font-size;
		line-height: $default-font-size;
		font-weight: 600;
		text-transform: uppercase;

		border: none;
		cursor: pointer;
	}

	&:focus {
		outline: 0;
	}

	&--white {
		background: linear-gradient(
			to right,
			$color-black 0%,
			$color-black 50%,
			$color-transparent 50%,
			$color-transparent 100%
		);
		background-size: 200% 100%;
		background-position: 100% 0;
		transition: all 0.3s;
		background-color: $color-white;
		color: $color-black;
		border: 2px solid $color-black;
		&:hover {
			color: $color-white;
		}
	}

	&--black {
		background: linear-gradient(
			to right,
			$color-white 0%,
			$color-white 50%,
			$color-transparent 50%,
			$color-transparent 100%
		);
		background-size: 210% 100%;
		background-position: 99% 0;
		transition: all 0.3s;
		// background-color: $color-black;
		color: $color-white;
		border: 2px solid $color-white;
		&:hover {
			color: $color-black;
		}
	}

	&--icon {
		padding: 0.5rem;

		img {
			height: $default-font-size;
			width: $default-font-size;
		}
	}

	&--icon--black {
		background-color: $color-black;
		color: $color-white;
		border: 2px solid $color-white;
	}

	&--icon--white {
		background-color: $color-white;
		color: $color-black;
		border: 2px solid $color-black;
	}

	&:hover {
		background-position: 0 0;
	}
}
