.input {
	text-decoration: none;
	padding: 0.5rem;
	display: inline-block;
	position: relative;
	font-size: $default-font-size;
	line-height: $default-font-size;
	font-weight: 600;
	text-transform: uppercase;
	border: none;
}
