body {
	font-family: "Cabin", sans-serif;
	font-weight: 400;
	color: $color-black;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
	text-transform: uppercase;
}

h2 {
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
}

h3 {
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
}

p {
	font-size: $default-font-size;
}

li {
	font-size: $default-font-size;
}

ul {
	list-style-position: inside;
	padding-left: 0;
}

* {
	font-family: "Cabin", sans-serif;
}

.text--white {
	color: $color-white;
}