.section-mazes {
	padding: 10rem 0;
	background-color: $color-white;

	&__list {
		overflow: auto;
		white-space: nowrap;
	}

	&__card {
		display: inline-block;
		vertical-align: top;
		width: 300px;
		padding: 1rem;
		margin-left: 2rem;

		&:last-child {
			margin-right: 2rem;
		}

		&__maze {
			width: 100%;
			margin: 1rem 0;
		}

		&__actions {
			width: 100%;
			display: flex;
		}
		
		&__download-btn {
			flex-grow: 100;
			margin-right: 1rem;
		}
	}
}
