#section-maze-creator {
	background-position: 100% 50%;
}

.section-maze-creator {
	padding: 10rem 1rem 9rem 1rem;
	background-color: $color-black;
	text-align: center;

	&__canvas-area {
		padding: 2rem 0;
	}

	&__canvas {
		margin: 0 auto;
		padding: 1rem;
		background: $color-white;
		display: block;
		cursor: crosshair;
		-ms-touch-action: none;
		touch-action: none;
	}

	&__bottom-text {
		padding-bottom: 2rem;
	}

	&__action-buttons {
		justify-content: center;
		padding-top: 0.5rem;
		display: flex;
		& > * {
			margin: 0 1rem;
		}
		& * {
			color: $color-white;
			font-size: 1.5rem;
		}
	}
}

#creating-maze {
	display: none;
}
