.page-not-found-section {
	background-color: $color-black;
	color: $color-white;
	display: flex;
	justify-content: center;
    align-items: center;
	height: calc(var(--vh, 1vh) * 100);
	width: 100%;

	&__container {
		text-align: center;
	}
}
